<div class="position-center">
  <h4><span class="page-title"><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</span></h4>
</div>
<span class="space"></span>

<%= form_with model:@customer, url: admin_customer_path, local:true do |f| %>
  <table class="table-center table-form">
    <tr>
      <th class="column-narrow">会員ID</th>
      <td class="column-wide"><%= f.label :"#{@customer.id}" %></td>
      <td class="column-wide"></td>
    </tr>
    <tr>
      <th class="column-narrow"><%= f.label :"氏名" %></th>
      <td class="column-wide"><%= f.text_field :last_name %></td>
      <td class="column-wide"><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <th class="column-narrow"><%= f.label :"フリガナ" %></th>
      <td class="column-wide"><%= f.text_field :last_name_kana %></td>
      <td class="column-wide"><%= f.text_field :first_name_kana %></td>
    </tr>
    <tr>
      <th class="column-narrow"><%= f.label :"郵便番号" %></th>
      <td class="column-wide"><%= f.text_field :postal_code %></td>
      <td class="column-wide"></td>
    </tr>
    <tr>
      <th class="column-narrow"><%= f.label :"住所" %></th>
      <td class="column-very-wide" colspan="2"><%= f.text_field :address, size: 55 %></td>
    </tr>
    <tr>
      <th class="column-narrow"><%= f.label :"電話番号" %></th>
      <td class="column-wide"><%= f.text_field :phone_number %></td>
      <td class="column-wide"></td>
    </tr>
    <tr>
      <th class="column-narrow"><%= f.label :"メールアドレス" %></th>
      <td class="column-wide"><%= f.email_field :email %></td>
      <td class="column-wide"></td>
    </tr>
    <tr>
      <th class="column-narrow"><%= f.label :"会員ステータス" %></th>
      <td class="column-wide"><!--is_deletedをfalseに変更するボタン-->
      <%= f.radio_button :is_deleted, :false %>
      <%= f.label :is_deleted, "有効　　" %>
      <!--is_deletedをtrueに変更するボタン-->
      <%= f.radio_button :is_deleted, :true %>
      <%= f.label :is_deleted, "退会" %></td>
      <td class="column-wide"></td>
    </tr>
    <tr>
      <th class="column-wide"></th>
      <td class="column-wide"><%= f.submit"変更を保存", class: "btn btn-success" %></td>
      <td class="column-wide"></td>
    </tr>
  </table>
<%end%>