<h4><span class="page-title">会員一覧</span></h4>

<table class='table-center'>
  <thead>
    <tr bgcolor="#C0C0C0">
      <th class="th-color">会員ID</th>
      <th class="th-color">氏名</th>
      <th class="th-color">メールアドレス</th>
      <th class="th-color">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |c| %>
      <tr>
        <td class="column-narrow"><%= c.id %></td>
        <td class="column-wide text-center"><%= link_to admin_customer_path(c.id) do %>
              <%= c.last_name + c.first_name %>
            <%end%>
        </td>
        <td class="column-wide text-center"><%= c.email %></td>
        <% if c.is_deleted == true %>
          <td class="column-wide text-center">退会</td>
        <%else%>
          <td class="column-wide text-center"><p class="text-green">有効</p></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @customers %>