<div class="container">
  <h4>注文情報確認</h4>
  
  <!--#カートの中身を表示-->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">商品名</th>
        <th>単価（税込み）</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="2"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  
  <!--#請求情報を表示-->
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>送料</th>
        <th><%= @order.delivery_fee %></th>
      </tr>
      <tr>
        <th>商品合計</th>
        <th><%= @order.total_item_price.to_s(:delimited) %></th>
      </tr>
      <tr>
        <th>請求金額</th>
        <th><%= (@order.total_item_price + @order.delivery_fee).to_s(:delimited) %></th>
      </tr>
    </tbody>
  </table>


  <p>支払方法</p>
  <%= @order.payment_method_i18n %>
  
  <p>お届け先</p>
  〒<%= @order.receiver_postal_code %>
  <%= @order.receiver_address %><br>
  <%= @order.receiver_name %>
  
  <%= form_with model:@order, url: orders_path, local: true do |f| %>
    <%= f.hidden_field :receiver_postal_code %>
    <%= f.hidden_field :receiver_address %>
    <%= f.hidden_field :receiver_name %>
    <%= f.hidden_field :payment_method %>
    
    <%= f.submit '注文確定を確定する', class: "btn btn-success" %>
  <% end %>
  
</div>